.App {
  text-align: center;
}
.homeimg {
  max-height: 100vh;
  width: 100%;
}
.homeflick {
  height: 200px;
  width: 100%;
}
.spacer {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.center {
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.bgcolor {
  background-color: rgb(89, 89, 89);
  color: white;
}
.footercolor {
  background-color: rgb(39, 39, 39);
  color: white;
}
.bgcolorcontact {
  background-color: rgb(99, 99, 99);
  color: white;
}
.bgcolorcontactform {
  background-color: rgb(89, 89, 89);
  color: white;
}
.pcolor {
  background-color: rgb(129, 129, 129);
}
.portcolor {
  background-color: rgb(29, 29, 29);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  list-style: none;
}
.cards {
  background-color: rgb(49, 49, 49) !important;
  border-color: black !important;
  padding-top: 30px;
  padding-bottom: 30px;
}
.formy {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
  opacity: 0.7;
  box-shadow: 10px 10px 5px rgb(39, 39, 39);
}
.contactSpacer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: 300ms ease-out;
}
.curvy {
  border-radius: 25px;
}
.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}
.fullscreen {
  overflow: auto;
  padding: 100px 100px;
  margin: 20px 20px 20px 20px;
}
.navbar {
  background-color: transparent;
}
